.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #232323;
  color: white;
  border-bottom: solid #e8ca41 1.5px;
  background-image: url(../images/ship-crop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
  
  .header-image {
    margin: auto;
    width: 40%;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  
  .theme-toggle-button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .theme-toggle-button:hover {
    background: #0056b3;
  }